    <div class="container" ng-controller="loginController"> 
      <form class="form-signin">
        <h2 class="form-signin-heading">Pyme Managment</h2>
        <label for="userName" class="sr-only">Usuario o Email:</label>
        <input type="text" id="userName" class="form-control" placeholder="Usuario o Email" required autofocus ng-model="userName">
        <label for="inputPassword" class="sr-only">Contrase&ntilde;a</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="password">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Recordar Sesi&oacute;n
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="login();">Iniciar sesi&oacute;n</button>
      </form>
    </div> <!-- /container -->