<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
        
  <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
	    <param name="ConversionPattern" value="%-7p %d{dd/MM/yy-HH:mm:ss,SSS} %.8t %-30.30c{1}| %m%n" />
    </layout>
  </appender>
        
  <appender name="FileAppender" class="org.apache.log4j.FileAppender">
    <param name="File" value="servers/Applications-log/STSuc.log" />
    <layout class="org.apache.log4j.PatternLayout">
	    <param name="ConversionPattern" value="%-7p %d{dd/MM/yy-HH:mm:ss,SSS} %.8t %-30.30c{1}| %m%n" />
    </layout>
  </appender>
 
  <category name="org">
  	<priority value="info"/>
    <appender-ref ref="ConsoleAppender"/>
  </category>

  <category name="com">
  	<priority value="info"/>
    <appender-ref ref="ConsoleAppender"/>
  </category>

  <category name="ar.com">
  	<priority value="info"/>
    <appender-ref ref="ConsoleAppender"/>
  </category>
  
  <category name="net.sf">
  	<priority value="info"/>
    <appender-ref ref="ConsoleAppender"/>
  </category>

</log4j:configuration>