<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nexus Dashboard - Nuevo Report</title>
        <style type="text/css" src="resource/css/styles.css"></style>
  		<script type="text/javascript" src="http://code.angularjs.org/1.1.0/angular.min.js"></script>
  		<script type="text/javascript" src="http://code.angularjs.org/1.1.0/angular-resource.min.js"></script>
    	<script type="text/javascript" src="app/app.module.js" ></script>
     	<script type="text/javascript" src="app/components/newReport2.js" ></script>
     	<script type="text/javascript" src="app/components/newSetting.js" ></script>
    </head>
	<body>
	
	<div ng-controller="userSettingController">
	 	<p><label for="userSelect">Elegir usuario: </label><br>
	    <select name="userSelect" ng-model="userSelectedOption" >	       
	       <option ng-repeat="user in userData" value="{{user.id}}">{{user.name}}</option>	       
	    </select><br></p>	    	    
 	 	<p><label for="settingSelect">Elegir setting: </label><br>	    
	    <select name="settingSelect" ng-model="settingSelectedOption">	       
	       <option ng-repeat="setting in settingData" value="{{setting.id}}">{{setting.description}}</option>
	    </select><br>
	    Agregar nuevo setting: <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"><br/>
		<div>		  
		  <div ng-show="checked">
		     <div ng-controller="newSetting">
			  <form novalidate class="simple-form">
			    Setting ID: <input type="number" ng-model="data.setting" /><br />
			    Description: <input type="string" ng-model="data.desc" /><br />
			    User ID: <input type="number" ng-model="data.user" /><br />
			    <input type="submit" ng-click="create(data)" value="Insert" />
			  </form>
			</div>
			<br /><br />
			<div>Estado creación nuevo Setting:</div>
			<div ng-controller="newSetting">
				{{ estado }}
			</div>
		  </div>
		</div>
		</p>		 
	</div>
	
	
	<div ng-controller="chartController">
		<p><label for="chartSelect">Elegir grafico: </label><br>
		<select name="chartSelect" ng-model="chartSelectedOption" >
			<option ng-repeat="chart in chartData" value="{{chart.id}}">{{chart.description}}</option>
		</select></p>
	</div>
	
	
	<div ng-controller="queryController">
	  	<p><form novalidate class="simple-form">	    
	    	Query: <input type="string" ng-model="data.query" /><br />	    
	    	<input type="submit" ng-click="create(data)" value="Obtener columnas" />
	  	</form>
	</div>
	<div>Columnas que seran configuradas:</div><br>
	<div ng-controller="queryController">
		<div ng-repeat="column in columns">
			Columna: {{column.name}}
		</div>
	</div></p>


	<div ng-controller="timeController">
	  	<p><form novalidate class="simple-form">
	  		Descripción del reporte: <input type="text" ng-model="Data.reportDesc" /><br />
	    	Tiempo de validez del reporte (en minutos): <input type="text" ng-model="Data.refreshTime" /><br />	    	
	  	</form>
	</div>
			
	
	<p><div ng-controller="submitController">
		<input type="submit" ng-click="create()" value="Crear" /><br />	  
		<p>Datos creados: <br> User ID: {{ userId }} <br> Setting ID: {{ settingId }} <br> Chart ID: {{ chartId }}
				  <br> Config Report: {{ reportConfig }} <br> Refresh Time: {{ refreshTime }} <br> Query: {{ query }}
				  <br> Descripcion Reporte: {{ reportDesc }}
		</p>
		<p> Json: {{ json }} <br>
			Url: {{ url }}
		</p>
	</div>
	</p>
	
    </body>
</html>

<!-- BACK UP
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nexus Dashboard - Nuevo Report</title>
  		<script type="text/javascript" src="http://code.angularjs.org/1.1.0/angular.min.js"></script>
  		<script type="text/javascript" src="http://code.angularjs.org/1.1.0/angular-resource.min.js"></script>
    	<script type="text/javascript" src="app/app.module.js" ></script>
     	<script type="text/javascript" src="app/components/newReport2.js" ></script>
     	<script type="text/javascript" src="app/components/newSetting.js" ></script>
    </head>
	<body>
	<div ng-controller="userSettingController">
	 	<p><label for="userSelect">Elegir usuario: </label><br>
	    <select name="userSelect" ng-model="userSelectedOption" >	       
	       <option ng-repeat="user in userData" value="{{user.id}}">{{user.name}}</option>	       
	    </select><br></p>	    	    
 	 	<p><label for="settingSelect">Elegir setting: </label><br>	    
	    <select name="settingSelect" ng-model="settingSelectedOption">	       
	       <option ng-repeat="setting in settingData" value="{{setting.id}}">{{setting.description}}</option>
	    </select><br>
	    Agregar nuevo setting: <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"><br/>
		<div>		  
		  <div ng-show="checked">
		     <div ng-controller="newSetting">
			  <form novalidate class="simple-form">
			    Setting ID: <input type="number" ng-model="data.setting" /><br />
			    Description: <input type="string" ng-model="data.desc" /><br />
			    User ID: <input type="number" ng-model="data.user" /><br />
			    <input type="submit" ng-click="create(data)" value="Insert" />
			  </form>	  
			</div>
			<br /><br />
			<div>Estado creación nuevo Setting:</div>
			<div ng-controller="newSetting">
				{{ estado }}
			</div>
		  </div>
		</div>
		</p>		 
	</div>
	
	<div ng-controller="chartController">
		<p><label for="chartSelect">Elegir grafico: </label><br>
		<select name="chartSelect" ng-model="chartSelectedOption" >
			<option ng-repeat="chart in chartData" value="{{chart.id}}">{{chart.description}}</option>
		</select></p>
	</div>
	<div ng-controller="queryController">
	  	<p><form novalidate class="simple-form">	    
	    	Query: <input type="string" ng-model="data.query" /><br />	    
	    	<input type="submit" ng-click="create(data)" value="Obtener columnas" />
	  	</form>
	</div>
	<div>Columnas que seran configuradas:</div>
	<div ng-controller="queryController">
		<div ng-repeat="column in columns">
			Columna: {{column.name}}
		</div>
	</div></p>
	<p> Datos: <br>
		{{user.name}}
	</p>
    </body>
</html>

 -->