<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nexus Dashboard - Nuevo Setting</title>
  		<script type="text/javascript" src="http://code.angularjs.org/1.1.0/angular.min.js"></script>
  		<script type="text/javascript" src="http://code.angularjs.org/1.1.0/angular-resource.min.js"></script>
    	<script type="text/javascript" src="app/app.module.js" ></script>
     	<script type="text/javascript" src="app/components/newSetting.js" ></script> 
    </head>
	<body>
	<div ng-controller="newSetting">
	  <form novalidate class="simple-form">
	    Setting ID: <input type="number" ng-model="data.setting" /><br />
	    Description: <input type="string" ng-model="data.desc" /><br />
	    User ID: <input type="number" ng-model="data.user" /><br />
	    <input type="submit" ng-click="create(data)" value="Insert" />
	  </form>	  
	</div>
	<br /><br />
	<div>Estado creación nuevo Setting:</div>
	<div ng-controller="newSetting">
		{{ estado }}
	</div>

    </body>
</html>